<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kImageNamesArray</key>
	<array>
		<string>g1.jpg</string>
		<string>g2.jpg</string>
		<string>g3.jpg</string>
		<string>g4.jpg</string>
		<string>kLastNullImageName</string>
	</array>
	<key>kHiddenBtnImageName</key>
	<string>hidden</string>
	<key>kHiddenBtnCenter</key>
	<string>{0.5,0.85}</string>
</dict>
</plist>
