<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>k</key>
		<string>1</string>
		<key>n</key>
		<array>
			<dict>
				<key>k</key>
				<string>0</string>
				<key>v</key>
				<string>班会楼
</string>
			</dict>
			<dict>
				<key>k</key>
				<string>1</string>
				<key>v</key>
				<string>原音乐楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>2</string>
				<key>v</key>
				<string>外语楼
</string>
			</dict>
			<dict>
				<key>k</key>
				<string>3</string>
				<key>v</key>
				<string>书法楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>4</string>
				<key>v</key>
				<string>教育楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>5</string>
				<key>v</key>
				<string>教育楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>6</string>
				<key>v</key>
				<string>数学楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>7</string>
				<key>v</key>
				<string>化学楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>8</string>
				<key>v</key>
				<string>8号(原地理楼)</string>
			</dict>
			<dict>
				<key>k</key>
				<string>9</string>
				<key>v</key>
				<string>物理楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>10</string>
				<key>v</key>
				<string>综合教学楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>11</string>
				<key>v</key>
				<string>生物楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>12</string>
				<key>v</key>
				<string>老文史楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>13</string>
				<key>v</key>
				<string>文史楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>14</string>
				<key>v</key>
				<string>体育楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>15</string>
				<key>v</key>
				<string>实验中心A区</string>
			</dict>
			<dict>
				<key>k</key>
				<string>16</string>
				<key>v</key>
				<string>实验中心B区</string>
			</dict>
			<dict>
				<key>k</key>
				<string>17</string>
				<key>v</key>
				<string>实验中心C区</string>
			</dict>
			<dict>
				<key>k</key>
				<string>18</string>
				<key>v</key>
				<string>实验中心D区</string>
			</dict>
			<dict>
				<key>k</key>
				<string>19</string>
				<key>v</key>
				<string>科技实验楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>20</string>
				<key>v</key>
				<string>老干部楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>21</string>
				<key>v</key>
				<string>西联教室</string>
			</dict>
			<dict>
				<key>k</key>
				<string>22</string>
				<key>v</key>
				<string>东门开发房</string>
			</dict>
		</array>
		<key>v</key>
		<string>曲阜校区</string>
	</dict>
	<dict>
		<key>k</key>
		<string>2</string>
		<key>n</key>
		<array>
			<dict>
				<key>k</key>
				<string>0</string>
				<key>v</key>
				<string>教学楼A</string>
			</dict>
			<dict>
				<key>k</key>
				<string>1</string>
				<key>v</key>
				<string>教学楼B</string>
			</dict>
			<dict>
				<key>k</key>
				<string>2</string>
				<key>v</key>
				<string>教学楼C</string>
			</dict>
			<dict>
				<key>k</key>
				<string>3</string>
				<key>v</key>
				<string>教学楼D</string>
			</dict>
			<dict>
				<key>k</key>
				<string>4</string>
				<key>v</key>
				<string>教学楼E</string>
			</dict>
			<dict>
				<key>k</key>
				<string>5</string>
				<key>v</key>
				<string>实验中心</string>
			</dict>
			<dict>
				<key>k</key>
				<string>6</string>
				<key>v</key>
				<string>美术楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>7</string>
				<key>v</key>
				<string>音乐楼</string>
			</dict>
			<dict>
				<key>k</key>
				<string>8</string>
				<key>v</key>
				<string>教学楼S</string>
			</dict>
		</array>
		<key>v</key>
		<string>日照校区</string>
	</dict>
</array>
</plist>
