<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon-library.png</string>
		<key>name</key>
		<string>图书馆</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-curriculum.png</string>
		<key>name</key>
		<string>课程表</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-exam.png</string>
		<key>name</key>
		<string>课程计划</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-score.png</string>
		<key>name</key>
		<string>成绩查询</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-homework-inline.png</string>
		<key>name</key>
		<string>网上作业</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-second-hand.png</string>
		<key>name</key>
		<string>二手市场</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-social.png</string>
		<key>name</key>
		<string>校园说说</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-elec.png</string>
		<key>name</key>
		<string>电费查询</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-lab.png</string>
		<key>name</key>
		<string>实验课表</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-calendar.png</string>
		<key>name</key>
		<string>校历</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-lost.png</string>
		<key>name</key>
		<string>失物招领</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-video</string>
		<key>name</key>
		<string>视频专栏</string>
	</dict>
</array>
</plist>
